$bizarre: #ecddd5;
$blue-bayoux: #496b7b;
$cascade: #92a6a8;
$cod-gray: #181413;
$breaker-bay: #699ea9;
$rock-blue: #9bc0cc;
$fountain-blue: #6baec9;
$ebony-clay: #2f3444;
$matrix: #b4645c;


$bg-gradient: linear-gradient(to bottom, $blue-bayoux, $cascade);
$text: #f6f6f6;