@use '../styles/variables' as *;
@use '../App.scss' as *;

body {
  background: $bg-gradient no-repeat fixed;
}

.main {
  .dashboard-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100vw - 255px);
    row-gap: 1rem;
  }
}

.dashboard  * {
  color: $fountain-blue;
}

.dropdown-btn {
  background-color: $text;
  color: $fountain-blue;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $bizarre;
    color: $text;
  }
}
