@use '/src/styles/variables.scss' as *;

.titlebar {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0.5rem 0.5rem;
    background-color: $green;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    i,h3 {
      color: $text;
      margin: 0 0.25rem;
    }
    &:hover {
      background-color: $green-hover;
      i,h3 {
        color: $ebony-clay;
      }
    }
  }
}

.accounts {
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;

  .accounts-list {
    width: 100%;
    column-gap: 10px;
  }

  .account-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: $accounts;
    width: 100%;
    height: 10rem;
    padding: 1.5rem 3rem;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    &:hover {
      transform: scale(1.04);
      filter: brightness(1.2);
      
      .details * {
        color: $bizarre;
        transition: all 0.3s ease-in-out;
      }
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $text;
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: $text;
    }
    h3 {
      font-size: 1rem;
      font-weight: 500;
      color: $text;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
      color: $text;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
    button {
      border:none;
    }
    i {
      font-size: 1.5rem;
      color: $cod-gray;
      cursor: pointer;
      &:hover {
        color: $blue-bayoux;
      }
    }
  }
}