@use '/src/styles/_variables.scss' as *;

.editUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $card-control;
  width: calc(((100vw - 287px)/2));
  padding: 0 3rem;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  gap: 5rem;

  h1 {
    color: $text;
    font-size: 2rem;
    margin: 1rem 0;

    &:hover {
      color: $blue-bayoux;
    }
  }

  span {
    color: rgb(161, 0, 0) !important;
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: center;
  }

  & > div,form {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    & > div {
      display:flex;
      flex-direction: column;
      width: 100%;
    }
  }

  input[type="text"],input[type="email"],input[type="password"] {
    color: $cod-gray !important;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: none;
    appearance: textfield;
    background-color: $text;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

    &:focus {
      outline: 2px solid $blue-bayoux;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.button, button {
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0.5rem 1rem;
  background-color: $green;
  border-radius: 20px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  i,h3 {
    color: $text;
    margin: 0 0.25rem;
  }
  &:hover {
    background-color: $green-hover;
    i,h3 {
      color: $ebony-clay;
    }
  }
}

