@use '../../styles/variables' as *;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;


  input[type="text"],input[type="email"],input[type="password"] {
    color: $cod-gray !important;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: none;
    appearance: textfield;
    background-color: $text;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

    &:focus {
      outline: 2px solid $blue-bayoux;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  .modal-box {
    
    background-color: white;
    padding: 50px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: $cod-gray !important;
    z-index: 1001;
    img {
      width: 250px;
      height: 250px;
      margin-top: 0;
    }
    .modal-message {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        color: $breaker-bay !important;
      }
      h2 {
        color: $breaker-bay !important;
        font-size: 1rem;
      }
      h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      span {
        font-weight: 600;
        color: gray;
      }
    }
    .modal-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      button {
        width: 100px;
        padding: 10px 20px;
        margin: 0 8px 0 8px;
        background-color: $breaker-bay;
        color: $white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        font-family: inherit;
        text-align: center;
        &:hover {
          background-color: $ebony-clay;
          font-weight: 600;
        }
      }
    }
  }
}
