@use '../../../styles/variables' as *;
@use './CardStyles' as *;

.cash {
  width: 25rem;
}

.default {
  width: 20rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  * {
    transition: all 0.3s ease-in-out;
  }
  i {
    font-size: 1.75rem;
    margin-right: 0.5rem;
    color: $text;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 800;
  }
  p {
    font-size: 0.75rem;
    font-weight: 400;
  }

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    filter: brightness(1.1);

    h2 {
      color: $bizarre;
    }
    p {
      font-weight: 700;
      color: $bizarre;
    }
    i {
      color: $bizarre;
    }
  }
}
