@use '../../../styles/variables' as *;

.expense-table {
  h2 {
    color: $cod-gray !important;
  }
}

.modal-expense-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1001;

    .modal-expense {
      background-color: $white;
      padding: 20px;
      border-radius: 1rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      width: 100%;
      text-align: center !important;
      color: $cod-gray !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .modal-content input {
      width: 100%;
      padding: 30px;
      margin-bottom: 10px;
      border: 1px solid $bizarre;
      border-radius: 1rem;
      margin: 10px;
      font-size: 30px;
    }
  
    input[name="expense-input"], input[name="due-date"] {
      width: 360px;
      font-size: 16px;
      padding: 10px 10px 10px 10px;
      color: black;
      border-radius: 0.4rem;
      margin-bottom: 10px;
      font-family: inherit;
      text-align: center;
    }

    .modal-content button {
      width: 82px;
      padding: 10px 20px;
      margin: 10px 10px 10px 10px;
      background-color: $breaker-bay;
      color: $white;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    
    .modal-content button:last-child {
      margin-right: 0;
      background-color: $bizarre;
    }

    label {
      color: $cod-gray !important;
      font-size: 18px;
    }

    h3, p {
      color: $cod-gray !important;
      text-align: center;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    border: 1px solid $fountain-blue;
    padding: 10px;
    text-align: left;
    color: $cod-gray !important;
  }
  
  /* add expense button */
  .add-exp-button, .save-cancel-button, .confirm-cancel-button  {
    background-color: $breaker-bay;
    color: $text !important;
    border: none;
    border-radius: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0 10px 0;
    font-family: inherit;
    &:hover {
        background-color: $ebony-clay;
    }
  }

  .save-cancel-button, .confirm-cancel-button {
    width: 100px;
    margin: 20px 5px 0 5px;
    display: inline;
    text-align: center;
  }

  /* edit and del buttons in the table */
  table button {
    background-color: $breaker-bay;
    color: $text !important;
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    margin: 3px;

    &:hover {
        background-color: $ebony-clay;
    }
  }


  table button:last-child {
    background-color: $matrix;

    &:hover {
        background-color: $dark-matrix;
    }
  }