@use './styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //outline: red 1px solid;
  // -webkit-user-select: none; /* Safari */
  // -ms-user-select: none; /* IE 10 and IE 11 */
  // user-select: none; /* Standard syntax */
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

.error {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(161, 0, 0, 0.466);
  border-radius: 10px;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  margin-top: 0.25rem;
  text-align: center;
}

.main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 2rem);
  padding: 2rem;
  margin: 1rem 1rem 1rem 0;
  background-color: $text;
  border-radius: 1rem;
  margin-left: 175px;
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100vw - 255px);

    margin: 1rem 0;
    //outline: 1px solid blue !important;
  }

  h1 {
    color: $blue-bayoux;
    transition: color 0.3s ease-in-out;
    cursor: default;

    &:hover {
      color: $fountain-blue;
    }
  }
}